.carousel {
  position: relative;
  width: 100%;
  height: 30%;
  overflow: hidden;

  .carousel-img {
    display: flex;

    .img {
      flex: none;
      width: 100%;
      height: 30%;
    }
  }
  .button-left {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
  }
  .button-right {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
  }
}
