.productList {
  margin-bottom: 200px;
  width: 2000px;
  font-size: 18px;

  .productListTab {
    display: flex;
    justify-content: center;

    .productCategory {
      text-align: center;
      margin: 50px 20px 0px 10px;
      padding-top: 14px;
      width: 250px;
      height: 50px;
      background-color: rgb(244, 244, 244);
      font-weight: 700;
      font-size: 22px;
    }

    .productCategory:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }

  .productListData {
    margin-bottom: 100px;

    .productListDataSquare {
      display: grid;
      grid-template-columns: 400px 400px 400px;
      grid-template-rows: 400px 400px;
      grid-gap: 80px;
      justify-content: center;
      align-items: center;
      font-size: 32px;

      .productListItem {
        background-color: rgb(244, 244, 244);
        width: 400px;
        height: 350px;

        .productListImage {
          display: flex;
          justify-content: center;
          margin: auto;
          padding-top: 20px;
          width: 250px;
        }
      }
      .productListInformation {
        margin-top: 10px;
        text-align: left;
        font-weight: bold;
        font-size: 18px;

        .productListPriceInformation {
          margin-top: 5px;
          font-size: 16px;
          color: gray;
        }
      }
    }
  }
}
