.bestProductItem {
  margin-top: 20px;
  background-color: rgb(244, 244, 244);
  width: 400px;
  height: 350px;
  &:hover {
    cursor: pointer;
  }

  .productImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    width: 270px;
    &:hover {
      transform: scale(1.2);
      overflow: hidden;
      transition-duration: 1s;
    }
  }
}

.productInformation {
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  &:hover {
    cursor: pointer;
  }

  .productPriceInformation {
    margin-top: 5px;
    font-size: 20px;
    color: gray;
    &:hover {
      transition: all 0.7s;
      cursor: pointer;
    }
  }
}
