.cartModal {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 20px 60px -2px rgb(27 33 58 / 40%);
  padding: 0;
  width: 500px;
  height: 450px;
  z-index: 1050;
  .closeBtn {
    border: none;
    margin-left: 470px;
  }
}
