.signUp {
  margin: 160px auto 180px auto;

  .signUpTitleName {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 34px;
    text-align: center;
  }

  .signUpInputContainer {
    width: 780px;
    margin: auto;

    .signUpInputContainerBox {
      width: 780px;
      margin: 30px auto 40px auto;

      .signUpInputBox,
      .signUpInputLastBox {
        display: flex;
        align-items: center;
        border: 1px solid #e1dedf;
        border-bottom: none;

        .signUpInputName {
          width: 150px;
          padding: 30px 16px 30px 18px;
          border-right: 1px solid #e1dedf;
          background-color: #f7f7f7;
          font-size: 13px;
          text-align: left;
        }

        .signUpInputText {
          width: 480px;
          height: 40px;
          margin-left: 25px;
          border: 1px solid #e1dedf;
          outline: none;
        }
      }

      .signUpInputLastBox {
        border-bottom: 1px solid #e1dedf;
      }
    }

    .signUpButton {
      .signUpBackBtn {
        width: 390px;
        height: 60px;
        border: none;
        background-color: #888888;
        color: white;
        font-weight: bold;
      }
    }

    .signUpBtn {
      width: 390px;
      height: 60px;
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      &:disabled {
        background-color: gray;
      }
    }
  }
}
