.address-page {
  border: 1px solid gray;
  width: 500px;
  height: 400px;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 300px;
  right: 700px;

  .address-layout {
    display: flex;
    justify-content: space-between;
    .address-name {
      position: relative;
      top: 20px;
      left: 200px;
      text-align: center;
      font-size: 25px;
    }
    .address-close {
      border: none;
      background-color: white;
      font-size: 20px;
    }
  }
}
