.basket-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 400px;

  .basket-name {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 70px;
  }

  .basket-flex {
    display: flex;

    .basket {
      .basket-table {
        display: flex;
        justify-content: space-around;
        width: 860px;
        border: 1px solid black;
        border-left: none;
        border-right: none;

        .basket-info {
          text-align: center;
          width: 500px;
          padding: 20px;
        }

        .basket-num {
          width: 100px;
          padding: 20px;
          text-align: center;
        }

        .basket-price {
          width: 100px;
          padding: 20px;
          text-align: center;
        }
      }
      .basket-item {
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        width: 860px;
        padding-bottom: 50px;
        border-bottom: 1px solid gray;

        .basket-info {
          width: 500px;
          padding: 20px;
          text-align: center;
        }

        .basket-num {
          width: 100px;
          padding: 20px;
          text-align: center;
        }

        .basket-price {
          width: 100px;
          padding: 20px;
          text-align: center;
        }
      }
    }

    .basket-payment {
      position: relative;
      top: -51px;
      margin-top: 51px;
      margin-left: 39px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-top: 1px solid black;
      width: 280px;
      background-color: #f8f8f8;

      .payment-title {
        display: flex;
        justify-content: space-around;
        padding: 30px;

        .payment-name,
        .payment-money {
          font-weight: bold;
        }
      }
      .payment-expectation {
        position: relative;
        left: -28px;
        text-align: end;

        .expectation-name {
          font-size: 13px;
          font-weight: bold;
          line-height: 24px;
        }

        .expectation-money {
          margin-top: 2px;
          font-size: 24px;
          font-weight: bold;
          line-height: 24px;
          color: #d0021b;
        }
      }
      .payment-button {
        display: flex;
        flex-direction: column;
        align-items: center;

        .basket-order {
          width: 80%;
          height: 50px;
          border: none;
          color: white;
          font-size: 15px;
          font-weight: bold;
          margin-top: 10px;
          background-color: red;
        }

        .basket-out {
          display: block;
          width: 80%;
          height: 50px;
          border: none;
          color: white;
          font-size: 15px;
          font-weight: bold;
          margin-top: 10px;
          background-color: gray;
        }
      }
    }
  }
}
