.basket-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 400px;

  .basket-name {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 70px;
  }

  .basket-flex {
    display: flex;

    .basket {
      .basket-table {
        display: flex;
        justify-content: space-around;
        margin-bottom: -30px;
        width: 860px;
        border: 1px solid black;
        border-left: none;
        border-right: none;

        .basket-info {
          text-align: center;
          width: 500px;
          padding: 20px;
        }

        .basket-num {
          width: 100px;
          padding: 20px;
          text-align: center;
        }

        .basket-price {
          width: 100px;
          padding: 20px;
          text-align: center;
        }
      }
      .basket-item {
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        width: 860px;
        padding-bottom: 50px;
        border-bottom: 1px solid gray;

        .basket-info {
          width: 500px;
          padding: 20px;
          text-align: center;
        }

        .basket-num {
          width: 100px;
          padding: 20px;
          text-align: center;
        }

        .basket-price {
          width: 100px;
          padding: 20px;
          text-align: center;
        }
      }
    }
  }
}
