.header {
  position: fixed;
  z-index: 5;
  top: 0px;
  width: 100%;
  height: 96px;
  background-color: black;
  color: white;

  .navContainer {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    height: 72px;
    height: 96px;
    margin: auto;

    .navMain {
      display: flex;
      align-items: center;

      .navMeatImage {
        height: 60px;
      }

      .navMainName {
        padding-left: 10px;
        font-size: 30px;
        cursor: pointer;
      }

      .navMainMenu {
        display: flex;
        margin-left: 22px;
        font-size: 18px;
      }

      .navMainMenuList {
        margin: 10px;
        cursor: pointer;
      }
    }
    .navRight {
      display: flex;
      align-items: center;

      .navRightSubMenu {
        display: flex;
      }

      .navRightSubMenuList {
        display: flex;
      }

      .navRightSubList {
        margin-left: 15px;
        font-size: 14px;
        cursor: pointer;
      }

      .navRightSubMenuSplit {
        padding-left: 15px;
        font-size: 14px;
      }

      .navRightCartIcon {
        width: 30px;
        margin-left: 35px;
        cursor: pointer;
      }

      .navRightSideIcon {
        width: 33px;
        margin-left: 20px;
        cursor: pointer;
      }
    }
  }
}

.navLink {
  text-decoration: none;
  color: white;
}
